html {
  font-family: "Noto Serif", serif;
}

.masthead,
footer {
  background-color: #70ad55;
  color: #fff;
}

.text-green {
  color: #70ad55;
}

select,
input,
textarea,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  border-color: #6e8c62;
}

fieldset {
  border: none;
}

.btn {
  border: 3px solid #6e8c62;
  background-color: #6e8c62;
}

.green {
  background-color: #70ad55;
  color: #fff;
}

hr {
  border-color: #70ad55;
  opacity: .25;
}

textarea {
  height: 10em;
}
